.p1cube {
  width: 300px;
  height: 300px;
  -webkit-perspective: 1500px;
          perspective: 1500px;
  left: 70%;
  top: 50%;
  -webkit-transform: translate(-75%, -20%);
          transform: translate(-75%, -20%);
}

.cube {
  width: 300px;
  height: 300px;
  position: relative;
  -webkit-transform-style: preserve-3d;
          transform-style: preserve-3d;
  -webkit-animation: rotate 10s linear infinite;
          animation: rotate 10s linear infinite;
}

.cube:after {
  content: '';
  width: 100%;
  height: 100%;
  -webkit-box-shadow: 0 0 50px rgba(90, 65, 65, 0.2);
          box-shadow: 0 0 50px rgba(90, 65, 65, 0.2);
  position: absolute;
  -webkit-transform-origin: bottom;
          transform-origin: bottom;
  -webkit-transform-style: preserve-3d;
          transform-style: preserve-3d;
  -webkit-transform: rotateX(90deg) translateY(150px) translateZ(-150px);
          transform: rotateX(90deg) translateY(150px) translateZ(-150px);
  background-color: rgba(0, 0, 0, 0.1);
}

.cube .face {
  position: absolute;
  width: 100%;
  height: 100%;
  border: 0px solid black;
}

.cube .face:nth-child(1) {
  -webkit-transform: translateZ(-150px);
          transform: translateZ(-150px);
  -webkit-animation: shade 10s -5s linear infinite;
          animation: shade 10s -5s linear infinite;
}

.cube .face:nth-child(2) {
  -webkit-transform: translateZ(150px) rotateY(180deg);
          transform: translateZ(150px) rotateY(180deg);
  -webkit-animation: shade 10s linear infinite;
          animation: shade 10s linear infinite;
}

.cube .face:nth-child(3) {
  -webkit-transform-origin: right;
          transform-origin: right;
  -webkit-transform: translateZ(150px) rotateY(270deg);
          transform: translateZ(150px) rotateY(270deg);
  -webkit-animation: shade 10s -2.5s linear infinite;
          animation: shade 10s -2.5s linear infinite;
}

.cube .face:nth-child(4) {
  -webkit-transform-origin: left;
          transform-origin: left;
  -webkit-transform: translateZ(150px) rotateY(90deg);
          transform: translateZ(150px) rotateY(90deg);
  -webkit-animation: shade 10s -7.5s linear infinite;
          animation: shade 10s -7.5s linear infinite;
}

.cube .face:nth-child(5) {
  -webkit-transform-origin: bottom;
          transform-origin: bottom;
  -webkit-transform: translateZ(150px) rotateX(90deg);
          transform: translateZ(150px) rotateX(90deg);
  background-color: rgba(0, 0, 0, 0.7);
}

.cube .face:nth-child(6) {
  opacity: 0;
  -webkit-transform-origin: top;
          transform-origin: top;
  -webkit-transform: translateZ(150px);
          transform: translateZ(150px);
}

@-webkit-keyframes rotate {
  0% {
    -webkit-transform: rotateX(-15deg) rotateY(0deg);
            transform: rotateX(-15deg) rotateY(0deg);
  }
  100% {
    -webkit-transform: rotateX(-15deg) rotateY(360deg);
            transform: rotateX(-15deg) rotateY(360deg);
  }
}

@keyframes rotate {
  0% {
    -webkit-transform: rotateX(-15deg) rotateY(0deg);
            transform: rotateX(-15deg) rotateY(0deg);
  }
  100% {
    -webkit-transform: rotateX(-15deg) rotateY(360deg);
            transform: rotateX(-15deg) rotateY(360deg);
  }
}

@-webkit-keyframes shade {
  50% {
    background-color: rgba(0, 0, 0, 0.7);
  }
}

@keyframes shade {
  50% {
    background-color: rgba(0, 0, 0, 0.7);
  }
}

/*
$b1cd: #500033;
$b1cl: #FF0077;
$b2cd: #000050;
$b2cl: #0033FF;
$b3cd: #00501D;
$b3cl: #00FF44;
$b4cd: #554D00;
$b4cl: #FF4E00;
$b5cd: #300050;
$b5cl: #8000FF;
$black: #000;
$white: #fff;
$grey: #B5B4B4;

@mixin color_render($DC, $LC) {
  background-color: $DC;
  .illustration .inner {
      background-color: $LC;
      &::after, &::before{ background-color: rgba($LC, .4);}
  }
  button {background-color: $LC;}
}

*,
*:before,
*:after {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}


.s4_container{
  position: relative;
  overflow: hidden;
  border-radius: 5rem;
}
.slider{
  display: flex;
  width: 500%;
  height: 40rem;
  transition: all .25s ease-in;
  transform: translateX(0);
  .box{
    height: 100%;
    width: 100%;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    align-items: center;
    overflow: hidden;
    position: relative;
    .bg{
      padding: 2rem;
      background-color: rgba(255,255,255, 0.2);
      width: 55%;
      transform: skewX(7deg);
      position: absolute;
      height: 100%;
      left: -10%;
      padding-left: 20rem;
      transform-origin: 0 100%;
    }
    .details {
      padding: 5rem;
      padding-left: 10rem;
      z-index: 100;
      grid-column: 1 /span 1;
      grid-row: 1 / -1;
      h1{
        font-size: 3.5rem;
        font-weight: 500;
         margin-bottom: .5rem;
      }
      p {
        display: inline-block;
        font-size: 1.3rem;
        color: grey;
        margin-bottom: 2rem;
        margin-right: 5rem;
      }
      button {
        padding: 1rem 3rem;
        color: white;
        border-radius: 2rem;
        outline: none;
        border: none;
        cursor: pointer;
        transition: all .3s ease;
        &:hover {opacity: .8;}
        &:focus {
          outline: none;
          border: none;
        }
      }
    }
  }
  .box1 {@include color_render($b1cd, $b1cl)}
  .box2 {@include color_render($b2cd, $b2cl)}
  .box3 {@include color_render($b3cd, $b3cl)}
  .box4 {@include color_render($b4cd, $b4cl)}
  .box5 {@include color_render($b5cd, $b5cl)}

  
}
*/
/*# sourceMappingURL=styles-home-cube.css.map */